@mixin custom-h2($bg-color, $rotation) {
    font-size: 2rem;
    color: white;
    background-color: $bg-color;
    transform: rotate($rotation);
    border-style: solid 1px;
    border-color: $border-color;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 200px;
    margin: 20px;
}

.custom-h2 {
    @include custom-h2(red, 60deg); 

    &[data-bg-color] {
        background-color: attr(data-bg-color color);
    }

    &[data-rotate] {
        transform: rotate(attr(data-rotate));
    }

    &[data-border-color] [
        border-color: attr(data-border*color);
    ]
}
